:root {
    --primary: #6366f1;
    --primary-dark: #4f46e5;
    --secondary: #8b5cf6;
    --accent: #ec4899;
    --dark: #0f172a;
    --dark-light: #1e293b;
    --gray: #64748b;
    --gray-light: #94a3b8;
    --white: #ffffff;
    --bg: #f8fafc;
    --bg-dark: #0f172a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: var(--gray-light); */
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    position: relative;
    padding: 60px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    color: var(--white);
}

.logo-box {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    width: 1000px;
    margin-bottom: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    background: var(--dark-light);
    border-radius: 25px;
    padding: 60px 30px;
    margin: 100px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    width: 500px;
    /* height: auto; */
    border: 5px solid var(--white);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
        border-color: var(--accent);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
        transform: translateY(-5px);
        transition: all 0.3s ease;
    }
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    section {
        width: 100%;
        padding: 40px 20px;
        font-size: 1.5rem;
        height: 500px;
        background-color: var(--primary);
    }

    .logo-box {
        margin-bottom: 10px;
    }

    .logo-box img {
        width: 200px;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 30px;
        color: red;
    }
}
