
:root {
    --primary: #6366f1;
    --primary-dark: #4f46e5;
    --secondary: #8b5cf6;
    --accent: #ec4899;
    --dark: #0f172a;
    --dark-light: #1e293b;
    --gray: #64748b;
    --gray-light: #94a3b8;
    --white: #ffffff;
    --bg: #f8fafc;
    --bg-dark: #0f172a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: var(--gray-light); */
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    position: relative;
    padding: 60px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    color: #111;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    background: var(--dark-light);
    border-radius: 25px;
    padding: 60px 30px;
    margin: 100px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    width: 500px;
    border: 5px solid var(--white);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
        border-color: var(--accent);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
        transform: translateY(-5px);
        transition: all 0.3s ease;
    }
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: var(--primary);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;

    &:hover {
        background: var(--primary-dark);
    }
}